<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    mode="side"
    opened
    (openedChange)="onSidenavToggle($event)"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active">Home</a>
      <a mat-list-item routerLink="/about" routerLinkActive="active">About</a>
      <a mat-list-item routerLink="/contact" routerLinkActive="active"
        >Contact</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content
    [ngClass]="{
      'sidenav-open': isSidenavOpen,
      'sidenav-closed': !isSidenavOpen
    }"
  >
    <mat-toolbar color="primary" class="toolbar">
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        aria-label="Toggle sidenav"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="app-title">Angular Sidenav App</span>
    </mat-toolbar>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
