.sidenav-container {
  height: 100vh;
  display: flex;
}

.mat-sidenav {
  width: 250px;
  height: 100%; /* Sidenav ocupa toda la altura */
}

.mat-sidenav-content {
  flex: 1; /* Contenido ocupa todo el espacio restante */
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.content-container {
  flex: 1;
  padding: 16px;
  box-sizing: border-box;
}

/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 768px) {
  .mat-sidenav-content {
    transition: transform 0.3s ease; /* Animación suave al abrir/cerrar el sidenav */
  }

  .mat-sidenav {
    width: 250px;
  }

  .mat-sidenav-container {
    overflow: hidden; /* Evita scroll horizontal innecesario */
  }
}
